
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Meta Tags -->
    <title>O que falta em Coimbra?</title>
    <meta name="description" content="<%= @page_desc || 'Uma experiência social.' %>">
    <meta name="keywords" content="coimbra" /> 
    <meta name="robots" content="index,follow" />
    <meta property="og:image" content="http://oquefaltaemcoimbra.pt/img/logo.png"/>

    <!-- CSS -->
    <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />

    <!-- JavaScript -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/default.js"></script>

    <!-- Other -->
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Amaranth:400,700' rel='stylesheet' type='text/css'> 

    <!-- Facebook Comments Stuff -->
    <meta property="fb:app_id" content="289476237730343"/>

    <!-- Google Analytics -->

    <% if production? %>
      <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35531454-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      </script>
    <% end %>

  </head>
  <body>
    <!-- Facebook Comments -->

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=289476237730343";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <%= yield %>
  </body>
</html>
