body {
	background: #80d2f1;
}

h1, h2, h3 {
    font-family: 'Amaranth', sans-serif;
}

.hero-unit {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
	background-color: #80d2f1;
}
.hero-unit .hero-unit-outer {
	display: table;
	text-align: center;
	width: 100%;
}
.hero-unit .hero-unit-inner {
	display: table-cell;
	vertical-align: middle;
	height: 600px;
}
.hero-unit .hero-unit-inner h1 {
	margin-bottom: 36px;
	margin-top: 50px;
}
.hero-unit .hero-unit-inner input[type=text] {
	font-size: 26px;
	line-height: 36px;
	padding: 18px;
	height: 36px;
	width: 50%;
}
.hero-unit .hero-unit-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding-bottom: 18px;
}
.hero-unit .hero-unit-footer h3 {
	margin-bottom: 0px;
}
a, a:hover {
	color: #333;
}
.hero-unit .hero-unit-footer .suggestions-arrow {
	font-size: 54px;
	line-height: 54px;
}
.hero-unit #warning {
	font-size: 16px;
	color: lightYellow;
	visibility: hidden;
	opacity: 0;
}
.hero-unit .hero-unit-info {
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	background-color: white;
	padding: 5px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#suggestions {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin-top: 36px;
}
#suggestions table {
	table-layout: fixed;
	border-collapse: separate;
}
#suggestions td {
	border-color: rgba(255,255,255,0.25);
}
#suggestions .suggestion-text {
	width: inherit;
	overflow: hidden;
}
#suggestions .suggestion-votes {
	width: 70px;
	vertical-align: middle;
}
.suggestion-votes form {
	margin: 0px;
}
.suggestion-votes, #suggestions .suggestion-votes, .suggestion-votes p {
	font-size: 22px;
	line-height: 27px;
	text-align: center;
	font-weight: bold;
}
#suggestions > p {
	font-size: 18px;
	font-weight: normal;
}
#suggestions .btn {
	font-weight: bold;
}
#suggestions .comment-count {
	color: rgba(0,0,0,0.5);
}

.btn-fixed{
	float:left;
	padding: 8px 14px;
	position: absolute;
	top: 12px;
	left: 12px;
	z-index: 10;
	font-weight: bold;
}


#entry {
	position: relative;
	max-width: 685px;
	text-align: left;
	background-color: white;
	padding: 27px 36px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#entry-text {
	margin-right: 70px;
	min-height: 71px;
}

#entry h2 {
	width: 100%;
	margin: 0;
	overflow: hidden;
}

#entry small {
	font-size: 14px;
	color: gray;
}

#entry-votes {
	position: absolute;
	top: 36px;
	right: 36px;
}

#entry .fb-comments, #entry .fb-comments span, #entry .fb-comments iframe[style] {width: 100% !important;}

button i {
	font-size: 14px;
	padding: 8px 4px;
}
button i.icon-caret-up {
	color: #57B725;
}
button i.icon-caret-down {
	color: #E07334;
}
button.btn-success i.icon-caret-up, button.btn-danger i.icon-caret-down {
	color: whiteSmoke;
}

#separator {
	height: 1px;
	margin-top: 30px;
	position: relative;
	margin-bottom: 30px;
	padding: 0px 10px;
	background-color: rgba(255,255,255,0.25);
}
#separator > div {
	position: absolute;
	left: 0;
	right: 0;
	top: -10px;

	text-align: center;
}
#separator > div > span {
	background-color: #80d2f1;
	cursor: pointer;
	color: rgba(0,0,0,0.7);
	font-size: 13px;
	padding: 0px 10px;
}
#separator i {
	margin-left: 3px;
}
#separator > div:hover {
	text-decoration: underline;
}
#buried-entries {
	display: none;
}
#buried-entries tr:first-child td {
	border-top: none;
}
.sorting {
	float: right;
	color: rgba(0,0,0,0.6);
	font-size: 13px;
	padding: 10px 0px 5px 0px;
}
.sorting a {
	color: rgba(0,0,0,0.8);
}
.sorting a.active {
	cursor: default;
	font-weight: bold;
}
.sorting a.active:hover {
	text-decoration: none;
}
